ion-item.item-title-default {
  --background: #0BB68C;
}

ion-list #inbox-list ul {
  margin: 0;
}

.sidemenu, .sidemenu ion-item {
  --background: #0BB68C;
  color: #fff;
}

.sidemenu i {
  color: #fff;
  font-size: 18px;
  margin: 0 20px 0 0px;
  position: relative;
}

.sidemenu ion-list {
  padding: 0px;
}

.sidemenu ion-row {
  width: 100%;
}

.sidemenu ion-list-header {
  background: #0BB68C;
  margin: 0;
  padding-top: 8px;
  white-space: nowrap;
}

.sidemenu ion-title.title-default {
  font-weight: 100;
  font-size: 16px;
}

.floatRight {
  float: right;
}
